@use "./common/variables.scss";

.map {
  min-height: 350px;
}

.map__wrapper {
  position: relative;
  height: 350px;
  margin-bottom: 6px;
}

.map__box {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.map__image {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
}

.map__nojs-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

@media (min-width: variables.$tablet-width) {
  .map {
    min-height: 352px;
  }

  .map__wrapper {
    margin-bottom: unset;
    height: 352px;
  }
}
