@use "../common/variables.scss";

.button {
  background-color: variables.$basic-blue;
  display: block;
  color: #ffffff;
  text-align: center;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  padding: 16px 10px;
  border: none;
  cursor: pointer;
  font-family: "PT Sans", "Arial", sans-serif;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &--modal {
    font-size: 18px;
  }

  /*Класс для неактивной базовой (голубой) кнопки*/
  &:disabled,
  &--disabled,
  &--disabled:hover,
  &--disabled:focus,
  &--disabled:active {
    background-color: #e5e5e5;
    color: #ffffff;
  }
}
