@use "../common/variables.scss";

.footer {
  margin: 0 auto;
  padding: 35px 20px 33px;
  column-gap: 113px;
  align-items: flex-start;
}

.footer__link {
  margin: 0 auto 29px;
  display: block;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  width: 136px;
  padding: 1px;


  &:hover,
  &:focus {
    color: variables.$basic-blue;
  }

  &:active {
    color: #b3b3b3;
  }
}

.footer__socials-list {
  margin: 0 auto 31px;
}

@media (min-width: variables.$tablet-width) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 113px;
  }

  .footer__link {
    margin-top: 11px;
  }

  .footer__logo {
    margin-top: 8px;
  }
}

@media (min-width: variables.$desktop-width) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 269px;
  }
}
