@use "./common/variables.scss";

.gallery-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gallery-list__item:not(:last-child) {
  margin-bottom: 24px;
}

@media (min-width: variables.$tablet-width) {
  .gallery-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }

  .gallery-list__item:not(:last-child) {
    margin-bottom: unset;
  }

  .gallery-list__item:nth-child(even),
  .gallery-list__item:first-child {
    background-color: #f2f2f2;
  }

  .gallery-list__item:nth-child(odd):not(:first-child) {
    background-color: #eaeaea;
  }
}

@media (min-width: variables.$desktop-width) {
  .gallery-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: unset;
  }

  .gallery-list__item:nth-child(n + 2) .gallery-box__wrapper {
    padding-left: 25px;
    padding-top: 18px;
  }
}
