@use "./common/variables.scss";

.checkbox__label {
  cursor: pointer;
  display: inline-block;
}

.checkbox__row {
  position: relative;
  padding-top: 11px;

  &::before {
    content: "";
    display: block;
    width: 46px;
    height: 46px;
    background-color: #f2f2f2;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;

    .checkbox__input:hover + &,
    .checkbox__input:focus + & {
      background-color: #e5e5e5;
    }
  }

  &::after {
    content: "";
    display: none;
    width: 22px;
    height: 16px;
    mask-image: url("../img/icons/sprite.svg#tick");
    mask-repeat: no-repeat;
    background-color: #333333;
    position: absolute;
    top: 15px;
    left: 12px;
  }
}

.checkbox__input:checked + .checkbox__row::after {
  display: block;
}

.checkbox__input:checked:active + .checkbox__row::after {
  background-color: #d5d5d5;
}

.checkbox__input:checked:active + .checkbox__row::after svg {
  opacity: 0.3;
}

.checkbox__input:disabled + .checkbox__row::after,
.checkbox__input:disabled + .checkbox__row::before,
.checkbox__input:disabled + .checkbox__row {
  opacity: 0.3;
}


@media (min-width: variables.$tablet-width) {
  .checkbox__row {
    padding-top: 10px;
  }
}

@media (min-width: variables.$desktop-width) {
  .checkbox__row {
    max-width: 185px;
  }
}
