@use "./common/variables.scss";

.form__caption {
  text-align: center;
  display: block;
  padding: 24px 20px 0;
  margin: 0 auto 19px;
}

.form__explanation {
  display: block;
  padding: 0;
  margin: 0;
  color: rgba(51, 51, 51, 0.6);
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  margin-left: auto;
  width: 150px;
}


.form__group {
  border: none;
  padding: 0;
  margin: 0;
}

.form__button {
  margin: 0 auto;
  width: 100%;

  &:nth-child(n + 2) {
    margin-top: 10px;
  }
}

.form__feedback-text {
  margin-bottom: 23px;
}

@media (min-width: variables.$tablet-width) {
  .form__caption {
    padding: unset;
    margin: unset;
    //margin-bottom: -13px;
  }

  .form__button {
    width: 324px;
    margin: unset;
    align-self: start;
  }

  .form__group {
    //margin-top: 20px;
  }

  .form__feedback {
    grid-column: 1/-1;
    margin-top: 47px;
  }

  .form__places {
    grid-column: 1/-1;
    margin-bottom: 25px;
  }

  .form__feedback-text {
    grid-column: 1/-1;
  }

  .form__button-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }

  .form__explanation {
    width: 192px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 21px;
  }
}

@media (min-width: variables.$desktop-width) {
  .form__feedback {
    margin-top: 70px;
    margin-bottom: 25px;
  }

  .form__feedback-text {
    margin-bottom: 64px;
  }

  .form__places {
    margin-bottom: 70px;
  }

  .form__button {
    width: 384px;
  }

  .form__button-wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
}
