@use "./common/variables.scss";

.form {
  &__caption {
    text-align: center;
    padding-top: 24px;
    margin-bottom: 19px;
  }

  &__explanation {
    display: block;
    padding: 0;
    margin: 0;
    color: rgba(51, 51, 51, 0.6);
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    margin-left: auto;
    width: 150px;
  }
}

.form__group {
  border: none;
  padding: 0;
  margin: 0;
}

.form__button {
  margin: 0 auto;
  width: 100%;
}

@media (min-width: variables.$tablet-width) {
  .form__caption {
    padding-top: unset;
  }

  .form__button {
    width: 324px;
    margin: unset;
    align-self: start;
  }

  /*.form__caption-text {
    display: inline-block;
    background-color: #ffffff;
    width: 400px;
    padding-left: 25px;
    padding-right: 25px;
  }*/

  .form__group {
    margin-top: 42px;
  }

  .form__feedback {
    grid-column: 1/-1;
  }

  .form__places {
    grid-column: 1/-1;
  }

  .form__feedback-text {
    grid-column: 1/-1;
  }

  .form__button-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }

  .form__explanation {
    width: 192px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 25px;
  }
}

@media (min-width: variables.$desktop-width) {
  .form__group {
    margin-top: 48px;
  }
}
