
@use "./common/variables.scss";

.group-name__item {
  margin-bottom: 16px;
}

.group-name__list {
  padding-bottom: 24px;
}

@media (min-width: variables.$tablet-width) {
  .group-name {
    border-right: 1px solid #dbdbdb;
  }

  .group-name__caption {
    margin-bottom: 28px;
    padding-top: 41px;
    text-align: center;
    display: block;
    padding-right: 29px;
    width: 100%;
  }

  .group-name__list {
    padding: 0 28.5px 0 0;
  }
}

@media (min-width: variables.$desktop-width) {
  .group-name__list {
    padding: 0 48.5px 0 0;
  }

  .group-name__caption {
    padding: unset;
    padding-top: 41px;
    padding-right: 49px;
  }

  .group-name__item:last-child {
    margin-bottom: 0;
  }
}
