.modal {
  width: 320px;
  min-height: 280px;
  background-color: #ffffff;
  padding: 45px 42px 35px 41px;
}

.modal__caption {
  margin: 0;
  padding: 0;
}

.modal__text {
  padding: 0;
  margin: 0;
}

.modal__button {
  width: 100%;
}
